<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<style>
body {
    background-color: mediumseagreen;
}
p {
    font-size: 35px;
}
a {
    font-size: 25px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #1a6985;
  text-align: left;
  padding: 8px;
}
</style>
<meta charset="UTF-8">
<title>Admin Management</title>
</head>
<body>
	<p>Welcome admin!</p>
	<a th:href="@{/admin_logout}" >Logout</a>
	<div th:if="${ not#lists.isEmpty(allRegList)}">
       <h2>All registered clubs</h2>
         <table>
           <tr>
             <th>Club Name</th>
             <th>Status</th>
             <th>Applicant Name</th>
             <th>Applicant Email</th>
             <th>Create Time</th>
             <th>Update Time</th>
           </tr>
           <tr th:each="eachReg : ${allRegList}">
             <td th:text="${eachReg.clubNameOption.getLabel()}"></td>
             <td th:text="${eachReg.clubRegisterStatus.getLabel()}"></td>
             <td th:text="${eachReg.userName}"></td>
             <td th:text="${eachReg.userEmail}"></td>
             <td th:text="${#dates.format(eachReg.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
             <td th:text="${#dates.format(eachReg.updatedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
           </tr>
         </table>
    </div>
</body>
</html>

