<!DOCTYPE html>
<!-- This is the admin page, which is what the admin user will see when they log in -->
<html xmlns:th = "http:/www.thymeleaf.org">
<head>
<style>
/* Internal CSS */
body {
    background-color: mediumseagreen;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #1a6985;
  text-align: left;
  padding: 8px;
}
</style>
<!-- HTML -->
<meta charset="UTF-8">
<title>Admin Management</title>
</head>
<body>

	<h2>Welcome admin!</h2>

	<form th:action="@{logout}">
	    <input type="submit" value="Sign Out" /><br />
	</form>
	<!-- Database table where the admin can see all of the registered clubs -->

	<div th:if="${ not#lists.isEmpty(allRegList)}">
       <h2>All Registered Clubs</h2>
         <table>
           <tr>
             <th>Club Name</th>
             <th>Status</th>
             <th>Applicant Name</th>
             <th>Applicant Email</th>
             <th>Creation Time</th>
             <th>Update Time</th>
           </tr>
           <!-- Links -->
           <tr th:each="eachReg : ${allRegList}">
             <td>
                <a th:if="${eachReg.clubNameOption.getLabel()}=='Other'" th:href="@{/admin_view_registration/{id}(id=${eachReg.id})}" th:text="'Other: ' + ${eachReg.otherClubName}"></a>
                <a th:unless="${eachReg.clubNameOption.getLabel()}=='Other'" th:href="@{/admin_view_registration/{id}(id=${eachReg.id})}" th:text="${eachReg.clubNameOption.getLabel()}"></a>
             </td>
             <td th:text="${eachReg.clubRegisterStatus.getLabel()}"></td>
             <td th:text="${eachReg.userName}"></td>
             <td th:text="${eachReg.userEmail}"></td>
             <td th:text="${#dates.format(eachReg.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
             <td th:text="${#dates.format(eachReg.updatedDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
           </tr>
         </table>
    </div>
</body>
</html>
