<!DOCTYPE html>
<!-- This is the admin login file, which is what the user will see if they click on the admin login button -->
<html xmlns:th="http:/www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<style>
/* Internal CSS */
body {
	background-color: seagreen;
}
</style>
<!-- HTML -->
<meta http-equiv = "Content-Type" content = "text/html; charset=ISO-8859-1" />
<title>Admin Login</title>
</head>
<body>

	<p>Admin Login Page</p>
	<form name = "f" action = "admin_login" method = "POST">

		<table>
			<tr>
				<!-- set username -->
				<td>Username:</td>
				<td><input type = "text" name = "username" /></td>
			</tr>
			<tr>
				<!-- set password -->
				<td>Password:</td>
				<td><input type = "password" name = "password" /></td>
			</tr>
			<tr>
				<!-- submit button -->
				<td><input name = "Submit" type = "Submit" value = "Submit" /></td>
			</tr>
		</table>

	</form>

	<p th:if = "${param.error}">Login failed</p>

</body>
</html>